<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
      -->

  <appSettings>
    <add key="MasterTitle" value="UWAC Research DB (Sept 2017) - Call Jeff (425) 478-0920 if something isn't working" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="SiteFolder" value="ResearchGit" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    
    <!--<add key="LDAPpath" value="LDAP://netid.washington.edu/DC=netid,DC=washington,DC=edu,OU=People" 
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="LDAPdomain" value="NETID\" 
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>-->
  
  </appSettings>
  
  <connectionStrings>

    <add name="TRACKING_CONN_STRING" 
         connectionString="INTEGRATED SECURITY=SSPI;DATA SOURCE=AUTISM-WS03\SQLWS03;PERSIST SECURITY INFO=False;INITIAL CATALOG=uwautism_research_backend;" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="DATA_CONN_STRING"
         connectionString="INTEGRATED SECURITY=SSPI;DATA SOURCE=AUTISM-WS03\SQLWS03;PERSIST SECURITY INFO=False;INITIAL CATALOG=uwautism_research_data;"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>


  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />

    <customErrors mode="Off" />
  </system.web>
  <!--<system.webServer>
    <handlers>
      <add xdt:Transform="Remove" />
    </handlers>
    <modules xdt:Transform="Remove"></modules>
  </system.webServer>-->
</configuration>