<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
   -->

  <appSettings>
    <add key="MasterTitle" value="UWAC Research DB - 2018"
          xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MasterSubtitle" value="updated 7/30 2:26pm"
          xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="DOCUMENT_LOCATION" value="C:\inetpub\sites\Research\webdocs\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!--<add key="sqlDataConnection.ConnectionString" value="packet size=4096;integrated security=SSPI;data source=v0130p.host.s.uw.edu;persist security info=False;initial catalog=uwautism_research_data" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="sqlBackendConnection.ConnectionString" value="packet size=4096;integrated security=SSPI;data source=v0130p.host.s.uw.edu;persist security info=False;initial catalog=uwautism_research_backend" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>-->

    <add key="LDAPpath" value="LDAP://netid.washington.edu/cn=netid,cn=washington,cd=edu,c=US,ou=people"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="LDAPdomain" value="NETID\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SiteFolder" value="Research" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>


  <connectionStrings>
  </connectionStrings>

  <system.web>
    <!--<compilation xdt:Transform="RemoveAttributes(debug)" />-->


  </system.web>
  <!--<system.webServer>
    <handlers>
      <add xdt:Transform="Remove" />
    </handlers>
    <modules xdt:Transform="Remove"></modules>
  </system.webServer>-->
</configuration>