
<!-- Web.Config Configuration File -->
<configuration>
  <system.web>
    <customErrors mode="Off"/>
    <httpRuntime maxRequestLength="1048576" />

    <!--<httpHandlers>
      <add verb="*" path="*.pdf" type="System.Web.StaticFileHandler" validate="true"/>
      <add verb="*" path="*.docx" type="System.Web.StaticFileHandler" validate="true"/>
      <add verb="*" path="*.doc" type="System.Web.StaticFileHandler" validate="true"/>
      <add verb="*" path="*.pps" type="System.Web.StaticFileHandler" validate="true"/>
      <add verb="*" path="*.ppt" type="System.Web.StaticFileHandler" validate="true"/>
      <add verb="*" path="*.pptx" type="System.Web.StaticFileHandler" validate="true"/>
    </httpHandlers>-->
    
  </system.web>


</configuration>

